.margin-top-110px{
	margin-top: 110px;
}

.label-inverse{
	line-height: 34px; 
	font-size: 16px;
}

.home{
	min-height: 900px;
}

.form{
	padding-top: 25px;
}

.thead{
	background-color: #373a3c;
	color: #fff;
}
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a
 {
  padding-right: 20px;
  padding-left: 20px;
  color: #fff;
}

.nav-sidebar > li > a:hover{
  background-color: #777777;

}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #777777;
}

@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #665c5c;
    border-right: 1px solid #eee;
  }
}



.table{
	background-color: #fff;
}

.tabledata{
	margin-top: 40px;
}